@charset "utf-8";



/*line start*/
.lines {
    margin-bottom: 50px;
}
.lines .th {
    margin-bottom: 20px;
}
.th h2 {
    color: #333333;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    float: left;
}
 .th p {
    padding-top: 8px;
    float: right;
}
 .th a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}
.lines .active {
    background: #e99605;
    color: white;
 }
.lines .tb {
    margin-right: -15px;
    overflow: hidden;
}
.lines .tb .main {
    display: none;
}
.lines .tb .selected {
    display: block;
}
.lines .tb .col {
    float: left;
    margin-top: 12px;
    margin-right: 12px;
    position: relative;
}
.lines .tb .one {
    margin-right: 12px;
    width: 291px;
    height: 298px;
    overflow: hidden;
}
.lines .tb .two {
    margin-right: 12px;
    width: 594px;
    height: 298px;
}
.lines .tb .last {
    margin-right: 0;
    width: 291px;
    height: 298px;
    overflow: hidden;
}
.lines .tb .caption {
    width: 100%;
    height: 30px;
    line-height: 32px;
    color: white;
    background: #000;
    opacity: 0.85;
    filter: alpha(opacity=85);
    position: absolute;
    bottom: 0;
    font-weight: bold;
    overflow: hidden;
}

/*line end*/
/*notes start*/
.notes .article {
    float: left;
    width: 898px;
}
.notes .th {
    margin-bottom: 19px;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
}
.notes .tb {
    /*overflow: hidden;*/
    margin-right: -15px;
}
.notes .content {
    float: left;
    margin-bottom: 20px;
    width: 289px;
    margin-right: 15px;
}
.col img:hover{
    transform: scale(1.05);
}
.notes .content .title {
    width: 289px;
    padding: 0 10px 0 0;
    margin: 18px 0 6px 0;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notes .content .num {
    padding-left: 22px;
}
.notes .aside {
    float: right;
}
.notes .aside .mod {
    margin-bottom: 30px;
}
.notes .aside .hd {
    margin-bottom: 19px;
    padding-bottom: 16px;
    border-bottom: 1px solid #000
}
.notes .aside h2 {
    color: #333333;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    vertical-align: bottom;
}
.notes .aside .tip {
    width: 272px;

}
.notes .aside ul {
    padding-right: 30px;
}
 .aside .tip li {
    line-height: 18px;
    padding: 2px 0 6px 2px;
}
.aside .tip a {
    font-size: 14px;
    color: #666;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
 /*notes end*/
/*banner start*/
.banner_02 {
    margin-bottom: 40px;
}
/*banner end*/
/*girls  start*/
.girls .th {
    margin-bottom: 24px;
}
.girls ul {
    /*overflow: hidden;*/
    /*margin-right: -5px;*/
    width: 4000px;
    position: relative;
    /*left: -2651px;*/
}
.girls .tb {
    overflow: hidden;
    position: relative;
}
.girls .tb li {
    width: 236px;
    float: left;
    margin-right: 5px;
    position: relative;
}
.girls .tb .name {
    position: absolute;
    bottom: 10%;
    left: 5px;
    padding: 4px 10px;
    background: black;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    display: none;
}
.girls .tb .prev,.girls .tb .next {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.girls .tb .prev {
    left: 20px;
    background: url(../images/photo_control.png) no-repeat 0 center;
}
.girls .tb .next {
    right: 20px;
    background: url(../images/photo_control.png) no-repeat -40px center;
}

/*girls  end*/